$unknown-color: gray;
$success-color: green;
$running-color: blue;
$failed-color: red;
$blocked-color: yellow;
$highlight-color: rgba($color: #ffff99, $alpha: 0.5);

.vis-item.transeparent {
  background-color: transparent;
  border: transparent;

  >div {
    >* {
      margin: 0px;
      padding: 0px;
    }
  }
}

.vis-item.highlighted {
  background-color: $highlight-color;
  border-color: $highlight-color;
}

.tdg-itemDetails {
  display: flex;
  flex-direction: column;
}

.tdg-task-progress-bar {
  stroke: black;
  stroke-width: 1;
  width: 100%;
  height: 15px;
}

rect.tdg-unknown {
  fill: $unknown-color;
}

small.tdg-unknown {
  color: $unknown-color;
}

rect.tdg-success {
  fill: $success-color;
}

small.tdg-success {
  color: $success-color;
}

rect.tdg-running {
  fill: $running-color;
}

small.tdg-running {
  color: $running-color;
}

rect.tdg-failed {
  fill: $failed-color;
}

small.tdg-failed {
  color: $failed-color;
}

rect.tdg-blocked {
  fill: $blocked-color;
}

small.tdg-blocked {
  color: $blocked-color;
}

rect.tdg-hierarchy {
  stroke: black;
  stroke-width: 1;
  opacity: 0.1;
}

.vis-panel.vis-background {
  z-index: -4;

}

.vis-panel.vis-center {
  z-index: 1;
  pointer-events: auto;
}

.vis-content {
  pointer-events: none;
}

.vis-timeline {
  svg {
    pointer-events: all;

    text {
      fill: black;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        fill: blue;
      }

      &:active {
        fill: red;
      }
    }
  }

  .tdg-taskName-b {
    pointer-events: auto;
    color: black;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: blue;
    }

    &:active {
      color: red;
    }
  }

}

.tdg-task-progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .tdg-expand {
    position: absolute;
    right: 5px;
    color: white;
  }
}

.tdg-pointer {
  cursor: pointer;
}
