<div class="tdg-toolbar-container">
  <button class="zoomIn" mat-mini-fab aria-label="Zoom In" (click)="zoomIn()">
    <mat-icon>zoom_in</mat-icon>
  </button>
  <button class="zoomOut" mat-mini-fab aria-label="Zoom Out" (click)="zoomOut()">
    <mat-icon>zoom_out</mat-icon>
  </button>
  <button class="moveLeft" mat-mini-fab aria-label="Move Left" (click)="moveLeft()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button class="moveRight" mat-mini-fab aria-label="Move Right" (click)="moveRight()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
